main {
  background: url(https://pbs.twimg.com/media/EUcerSEXgAE7y9C?format=jpg&name=large);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: fixed;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.card {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002147;
  color: white;
}

.card-text {
  padding: 0;
}

ul li {
  text-align: center;
  list-style-type: none;
  }

.card-img-top {
  border-bottom: 2px white solid;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.home, .add {
  margin-top: 10px;
}
